# Prerequisites

In [0]:
#loading emplyoee csv
df = spark.read.csv(path="/Volumes/quickstart_catalog/quickstart_schema/sandbox/dataset/employee.csv",
                    sep="|",
                    inferSchema=True,
                    header=True,
                    quote="'") #quote is used to escape the quotes in the address column
display(df)

# Dropping Missing Record

In [0]:
#dropna will drop entire record if any one of the column is null

df.na.drop().display()

In [0]:
#to drop specific column 

df.na.drop(subset=["name"]).display()

In [0]:
# to drop two specific column

df.na.drop(
    subset=["name", "id"]
).display()  # if any one of the column either id or name is null, it will drop the record

In [0]:
#another approach to drop two columns

from pyspark.sql.functions import col
df.filter((col("id").isNotNull()) & (col("name").isNotNull())).display()

## Filling Missing Values

In [0]:
df.na.fill(0).display() #since we have used integer value 0 here, it will fill integer column with 0 for missing values

In [0]:
df.na.fill(0).na.fill("NULL IN SOURCE").display() #NULL IN SOURCE used for string columns

In [0]:
#to replace missing columns we can use dictionary like below:

df.na.fill({
    "id":-1,
    "exp":0,
    "gen":"NA"
}).display()

In [0]:
from pyspark.sql.functions import avg
mean = df.select(avg("exp")).collect()[0][0]
df.na.fill({
    "id":-1,
    "exp":int(mean),
    "gen":"NA"
}).display()